@using ToDoApp.Data

@model PaginatedList<ToDoApp.Models.ToDo>

@{
    ViewData["Title"] = "IndexByEmployee";
    var employee = (Employee)ViewData["Employee"];
    var employees = (IEnumerable<Employee>)ViewData["Employees"];
}

<h1>ToDos for employee: </h1>
<h3>@employee.LastName @employee.FirstName @employee.MiddleName @employee.Birthday</h3>

<partial name="_AlertMessages" />

<partial name="_SearchForm" />

<partial name="_PaginationButtons" />

<hr />

<table class="table table-bordered table-hover table-striped">
    <tbody>
        <tr>
            <th>
                @Html.ActionLink("Name", "IndexByEmployee", new { sortOrder = @ViewData["NameSortParm"], searchString = @ViewData["CurrentFilter"] })
            </th>
            <th>
                @Html.ActionLink("Description", "IndexByEmployee", new { sortOrder = @ViewData["DescriptionSortParm"], searchString = @ViewData["CurrentFilter"] })
            </th>
            <th>
                @Html.ActionLink("Status", "IndexByEmployee", new { sortOrder = @ViewData["StatusSortParm"], searchString = @ViewData["CurrentFilter"] })
            </th>
            <th>
                <a asp-action="Create" asp-route-employeeId="@employee.Id" class="btn btn-primary">+ New todo</a>
                <a asp-action="Index" asp-controller="Employee" class="btn btn-info">Back to employees</a>
            </th>                
        </tr>

        @if (Model.Count != 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsClosed)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        <a asp-action="Duplicate" asp-route-id="@item.Id" asp-route-employeeId="@employee.Id" class="btn btn-success">Duplicate</a>
                        @if (item.IsClosed)
                        {
                            <a asp-action="StatusChange" asp-route-id="@item.Id" asp-route-employeeId="@employee.Id" asp-route-status="@item.IsClosed" class="btn btn-success">Open</a>
                        }
                        else
                        {
                            <a asp-action="StatusChange" asp-route-id="@item.Id" asp-route-employeeId="@employee.Id" asp-route-status="@item.IsClosed" class="btn btn-success">Close</a>
                        }
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#reassign_@item.Id" data-bs-id="@item.Id">
                            Reassign
                        </button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                No todos avaliable for now.
            </tr>
        }
    </tbody>
</table>

<!-- Warning Modal View-->
@foreach (var item in Model)
{
    <div class="modal fade" id="reassign_@item.Id" tabindex="-1" role="dialog" aria-labelledby="warningTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="warningTitle">Reassign</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
                </div>
                <div class="modal-body">
                    Choose employee for reassigning
                </div>
                <form asp-action="Reassign" asp-route-id="@item.Id" asp-route-currentEmployeeId="@employee.Id">
                    <select name="newEmployeeId" class="form-select">
                        @foreach (var emp in employees)
                        {
                            @if (@emp.Id != employee.Id)
                            {
                                <option value=@emp.Id>@emp.LastName @emp.FirstName @emp.MiddleName @emp.Birthday</option>
                            }
                        }
                    </select>
                    <div class="modal-footer">
                        <div class="offset-sm-4 col-sm-4 d-grid">
                            <button type="submit" class="btn btn-success">
                                Submit
                            </button>
                        </div>
                        <div class="col-sm-4 d-grid">
                            <button type="button" class="btn btn-info" data-bs-dismiss="modal">
                                Cancel
                            </button>
                        </div>
                    </div>
                </form>                    
            </div>
        </div>
    </div>
}