@using ToDoApp.Data
@model PaginatedList<ToDoApp.Models.Logger>

@{
    ViewData["Title"] = "Index";
}

<h1>Logs</h1>

<partial name="_AlertMessages" />

<partial name="_SearchForm" />

@if (Model.Count != 0)
{
    <partial name="_PaginationButtons" />

    <hr />

    <table class="table table-bordered table-hover table-striped">
        <tbody>
            <tr>
                <th>
                    @Html.ActionLink("Message", "Index", new { sortOrder = @ViewData["MessageSortParm"], searchString = @ViewData["CurrentFilter"] })
                </th>
                <th>
                    @Html.ActionLink("Action DateTime", "Index", new { sortOrder = @ViewData["DateSortParm"], searchString = @ViewData["CurrentFilter"] })
                </th>
                <th>
                    @Html.ActionLink("Author", "Index", new { sortOrder = @ViewData["AuthorSortParm"], searchString = @ViewData["CurrentFilter"] })
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActionDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <table class="table table-bordered table-hover table-striped">
        <tbody>
            <tr>
                No logs avaliable for now.
            </tr>
        </tbody>
    </table>    
}